{% if collection.handle == 'new-bikes' %}

  <h3>New Bike Categories</h3>
  <h6>New Bikes are listed by Model. Click on a bike to see if we have one in stock</h6>

  <ul>
    <li><a href="/collections/new-cyclocross-bikes">Cyclocross</a></li>
    <li><a href="/collections/new-mountain-bikes">Mountain</a></li>
  </ul>

{% elsif collection.handle == 'used-bikes' %}

  <h4>Browse by Type</h4>
  <ul>
    {% for link in linklists.used-bikes.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>

{% elsif collection.handle == 'used-cyclocross-bikes' %}

  <h4>Sizes</h4>
  <ul>
    <li><a href="/collections/used-bikes">&larr; All Used Bikes</a></li>
    {% for link in linklists.used-cyclocross-bikes.links %}
      <li>{{ link.title | link_to: link.url }}</li>
   {% endfor %}
 </ul>

{% elsif collection.handle == 'used-kids-bikes' %}

  <h4>Sizes</h4>
  <ul>
    <li><a href="/collections/used-bikes">&larr; All Used Bikes</a></li>
    {% for link in linklists.used-kids-bikes.links %}
      <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>

{% elsif collection.handle == 'used-mountain-bikes' %}

  <h4>Sizes</h4>
  <ul>
    <li><a href="/collections/used-bikes">&larr; All Used Bikes</a></li>
    {% for link in linklists.used-mountain-bikes.links %}
      <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>

{% elsif collection.handle == 'used-road-bikes' %}

  <h4>Sizes</h4>
  <ul>
    <li><a href="/collections/used-bikes">&larr; All Used Bikes</a></li>
    {% for link in linklists.used-mountain-bikes.links %}
      <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>

{% elsif collection.handle == 'new-frames' %}

  <h3>New Frame Categories</h3>
  <ul>
    {% for link in linklists.new-frames.links %}
         <li>{{ link.title | link_to: link.url }}</li>
       {% endfor %}
     </ul>

{% elsif collection.handle == 'used-frames' %}

  <h3>Used Frame Categories</h3>
  <ul>
    {% for link in linklists.used-frames.links %}
         <li>{{ link.title | link_to: link.url }}</li>
       {% endfor %}
     </ul>
{% endif %}


