<div class="social_like_buttons">

  {% if settings.show_google_plus_button %}
  <div class="google-plus social_link"><g:plusone size="medium" annotation="none"></g:plusone></div>

  {% endif %}

  {% if settings.show_tweet_button %}
  <div class="tweet-btn social_link">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ shop.url }}{{ social-sharing.url }}" data-count="none" {% if settings.twitter_link != "" %}data-via="{{ settings.twitter_link | remove: 'twitter.com/' | remove: 'https://' | remove: 'http://' }}"{% endif %}>Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
  {% endif %}

  {% if template contains 'product' and settings.show_pinterest_button %}
  <div class="pin-btn social_link">
    <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'large' }}" class="pin-it-button" count-layout="horizontal">Pin It</a>
    <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
  </div>
  {% endif %}

  {% if settings.show_facebook_like %}
  <div class="facebook-like social_link"><iframe src="//www.facebook.com/plugins/like.php?href={{ shop.url }}{{ social-sharing.url }}&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe></div>
  {% endif %}

</div><!-- .social_like_buttons -->

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
