<div class="collection">
  {% include 'snippet-breadcrumbs' %}

  <div class="four columns">

    {% if collection.handle == 'components' or collection.handle == 'wheels' or collection.handle == 'forks' %}
      {% include 'test-nav' %}
    {% else %}
      {% include 'side-nav' %}
    {% endif %}

  {% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
  {% endcomment %}

  {% paginate collection.products by 6 %}

  {% comment %}
  Listing all tags within the current collection.
  Shopify uses product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' at 
  http://support.shopify.com/customer/portal/articles/75425 for details.
  {% endcomment %}

  {% if collection.description.size > 0 %}
  <div class="rte">
    {{ collection.description }}
  </div>
  {% endif %}

  </div><!-- .four .columns -->

  <div class="twelve columns">

    <ul class="product_list">
    {% for product in collection.products %}
      {% include 'product-grid-item' with 'six columns omega' %}
    {% else %}

        {% if collection.handle == 'used-cargo-bikes' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Cargo Bikes below?</h4>
          {% assign collectionName = 'new-cargo-bikes' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-cyclocross-bikes' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Cyclocross Bikes below?</h4>
          {% assign collectionName = 'new-cyclocross-bikes' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-kids-bikes' %}
          <h4>It looks like we're all out of {{ collection.title }} in that wheel size. Why not check out some of our New Kids Bikes below?</h4>
          {% assign collectionName = 'new-kids-bikes' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-mountain-bikes' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Mountain Bikes below?</h4>
          {% assign collectionName = 'new-mountain-bikes' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-road-bikes' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Road Bikes below?</h4>
          {% assign collectionName = 'new-road-bikes' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-upright-bikes' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Upright Bikes below?</h4>
          {% assign collectionName = 'new-upright-bikes' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-cyclocross-frames' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Cyclocross Frames below?</h4>
          {% assign collectionName = 'new-cyclocross-frames' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-mountain-frames' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Mountain Frames below?</h4>
          {% assign collectionName = 'new-mountain-frames' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

        {% if collection.handle == 'used-road-frames' %}
          <h4>It looks like we're all out of {{ collection.title }} in that size range. Why not check out some of our New Road Frames below?</h4>
          {% assign collectionName = 'new-road-frames' %}
          {% for product in collections[collectionName].products %}
            {% include 'product-grid-item' with 'six columns omega' %}
           {% endfor %}
        {% endif %}

    {% endfor %}
    </ul>

    <div class="clear"></div>

    {% if paginate.pages > 1 %}
    <div id="pagination">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}

  {% endpaginate %}

  </div>

  <div class="clear"></div>

  <script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  /* Give you product tag filter select element a class of coll-filter */
  /* Give your collection select a class of coll-picker */
  /* Brought to you by Caroline Schnapp */
  var allFilters = jQuery('.coll-filter, .coll-picker');
  allFilters.change(function() {
  var newTags = [];
  jQuery('.coll-filter').each(function() { 
  if (jQuery(this).val()) {
  newTags.push(jQuery(this).val());
  }
  });
  if (newTags.length) {
  var query = newTags.join('+');
  if (jQuery('.coll-picker').length) {
  window.location.href = '/collections/' + jQuery('.coll-picker').val() + '/' + query;
  }
  else {
  window.location.href = jQuery('{{ '' | link_to_tag: '' }}').attr('href') + query;
  }
  } 
  else {
  if (jQuery('.coll-picker').length) {
  window.location.href = '/collections/' + jQuery('.coll-picker').val();
  }
  else {
  {% if collection.handle %}
  window.location.href = '/collections/{{ collection.handle }}';
  {% elsif collection.products.first.type == collection.title %}
  window.location.href = '{{ collection.title | url_for_type }}';
  {% elsif collection.products.first.vendor == collection.title %}
  window.location.href = '{{ collection.title | url_for_vendor }}';
  {% endif %}
  }
  }
  });
  </script>

</div><!-- .collection -->
