{% if settings.display_slideshow %}{{ 'jquery.slider.js' | asset_url | script_tag }}{% endif %}

{% if template == "index" and settings.display_slideshow %}

<section id="slideshow" class="ten columns">
  <div class="slideshow">
    <div class="flexslider">
      <ul class="slides unstyled">
        {% for i in (1..10) %}
        {% capture display_slideshow %}display_slideshow_{{ i }}{% endcapture %}
        {% capture slide %}slideshow_{{ i }}.jpg{% endcapture %}
        {% capture link %}image_{{ i }}_link{% endcapture %}
        {% capture alt %}image_{{ i }}_alt{% endcapture %}
        {% capture caption %}image_{{ i }}_caption{% endcapture %}
        {% if settings[display_slideshow] %}
          <li class="slide"><a href="{{settings[link]}}"></a><img src="{{ slide | asset_url }}" data-url="{{ settings[link] }}" class="slide-img" alt="{{ settings[alt] }}" />{% if settings.caption %}<h2>{{ settings[caption] }}</h2>{% endif %}</li>
        {% endif %}             
        {% endfor %}
      </ul>
    </div> <!-- /.flexslider -->
    <div class="custom-flexslider-controls"></div> <!-- /.custom-flexslider-controls -->
  </div> <!-- .slideshow -->
</section> <!-- #slideshow -->

{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}


<!-- START OF LATEST BLOG POSTS -->
<div id="widget-latest-blog-posts" class="widget six columns shop_calendar">

  <h3>Upcoming Events</h3>

  <ul class="latest-blog-posts-list">

    {% assign blog_handle = 'calendar' %}
    {% assign how_many_articles_to_show = 5 %}

    {% for article in blogs[blog_handle].articles limit: how_many_articles_to_show %}
      <li><h4>{{ article.title | link_to: article.url }}</h4> {{ article.excerpt }}</li>
    {% endfor %}

  </ul>

    <!--  Simple script to sort blog posts by alpha. Found at: http://ecommerce.shopify.com/c/ecommerce-design/t/sort-a-blog-alphabetically-i-was-so-close-46449 -->
    <script type="text/javascript">

      // Sort the recipe listings
      var mylist = $('.latest-blog-posts-list');
      var listitems = mylist.children('li').get();

      listitems.sort(function(a, b) {
        var compA = $(a).text().toUpperCase();
        var compB = $(b).text().toUpperCase();
        return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
      });

      $(listitems).appendTo(mylist);

    </script>

</div><!-- #widget-latest-blog-posts .widget .six .columns .shop_calendar -->

<div class="clear"></div>

{% endif %}

<div class="six columns dotted_divider">
  &nbsp;
</div>

<div class="four columns divider_title">

  <h2>Browse our Inventory</h2>

</div>

<div class="six columns dotted_divider">
  &nbsp;
</div>

{% include 'snippet-list-collections' %}
