<div itemscope itemtype="http://schema.org/Product">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
  
  <form action="/cart/add" method="post" enctype="multipart/form-data">

    <section class="product">

      <div class="product_breadcrumb" id="product-content">
        {% include 'snippet-breadcrumbs' %}
      </div>

      <div class="ten columns product_images">
        
        <div class="product_photos">
          <div class="featured">
            {% if settings.enable_product_image_zoom %}
            <a href="{{ product.featured_image | product_img_url: 'original' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder">
              <img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}" />
            </a>
            {% else %}
            <a href="{{ product.featured_image | product_img_url: 'original' }}" class="zoom" id="placeholder">
              <img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}" />
            </a>
            {% endif %}
            <a href="{{ product.featured_image | product_img_url: 'original' }}" class="zoom" id="zoom-image" {% unless settings.display_product_image_enlarge %}style="display:none;"{% endunless %}>Enlarge Image</a>
            {% if product.price_min < product.compare_at_price_min %}<span class="banner sale">Sale</span>{% endif %}
          </div> <!-- /.image -->
          {% if product.images.size > 1 %}

          <div class="thumbs">
            {% for image in product.images %}
            {% if settings.enable_product_image_zoom %}
            <div class="image">
              <a href="{{ image | product_img_url: 'original' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image | product_img_url: 'original' }}', tint: '#ffffff'">
                <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
              </a>
            </div>
            {% else %}
            <div class="image">
              <a href="{{ image | product_img_url: 'original' }}" data-original-image="{{ image | product_img_url: 'original' }}">
                <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div><!-- .thumbs -->
          {% endif %}
        </div> <!-- .product_photos -->

      </div><!-- .ten .columns .product_images -->

      <div class="six columns product_info">
        
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
        
        <div id="product_details">
          
          <div class="product_title product_section">

            <h1>{{ product.title }}</h1>

          </div><!-- .product_title -->
          
          <div class="product_price product_section">

            {% if product.compare_at_price > product.price %}
              <h5 class="on-sale">{{ product.price | money }}</span>&nbsp;<span class="product-compare-price">{{ product.compare_at_price_max | money }}</h5>
            {% else %}
              <h5 >{{ product.price | money }}</h5>
            {% endif %}

          </div><!-- .product_price -->
            
          <h4 class="product_section">Details</h4>

          <div class="product_description product_section">

              {{ product.description }}

          </div><!-- .product_description -->

          <div class="product_variants{% if hide_default_title %}{% unless settings.show_qty and product.available %} hidden{% endunless %}{% endif %} product_section">

             <select id="product-select" name="id">
             {% for variant in product.variants %}
                <option value="{{ variant.id }}">{% if variant.inventory_quantity < 1 %}{{ variant.title }}&nbsp; - out of stock&nbsp;{% else %}{{ variant.title }}{% endif %}</option>
             {% endfor %}
             </select>

          </div><!-- .product_variants -->

          <div class="product_add">
            <input type="submit" name="add" class="opener" id="add" value="Add to cart">
          </div>
        
          <div class="product_share product_section">

            {% include 'snippet-product-share' %}

          </div><!-- .product_share -->

          {% if collection %}
            {% if collection.previous_product or collection.next_product %}

            <div class="accent_text prev_next">     

              {% if collection.previous_product %}
                {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
                <span class="left">{{ '&larr; Previous Product' | link_to: prev_url }}</span>
              {% endif %}

              {% if collection.next_product %}
                {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
                <span class="right">{{ 'Next Product &rarr;' | link_to: next_url }}</span>
              {% endif %}

            </div><!-- .accent_text .prev_next -->

            {% endif %}
          {% endif %}
          
        </div><!-- .product_details -->

      </div><!-- .six .columns .product_info -->

      <div class="clear"></div>

    </section>

  </form>
    
  {% include 'related-products' %}

  <div class="clear"></div>

  
