<section class="product">

<div class="product_breadcrumb" id="product-content">
  {% include 'snippet-breadcrumbs' %}
</div>

<div class="ten columns product_images">
  
  <div class="product_photos">
    <div class="featured">
      {% if settings.enable_product_image_zoom %}
      <a href="{{ product.featured_image | product_img_url: 'original' }}" class="cloud-zoom" rel="position: 'inside', showTitle: 'false'" id="placeholder">
        <img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}" />
      </a>
      {% else %}
      <a href="{{ product.featured_image | product_img_url: 'original' }}" class="zoom" id="placeholder">
        <img src="{{ product.featured_image | product_img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}" />
      </a>
      {% endif %}
      <a href="{{ product.featured_image | product_img_url: 'original' }}" class="zoom" id="zoom-image" {% unless settings.display_product_image_enlarge %}style="display:none;"{% endunless %}>Enlarge Image</a>
      {% if product.price_min < product.compare_at_price_min %}<span class="banner sale">Sale</span>{% endif %}
    </div> <!-- /.image -->
    {% if product.images.size > 1 %}

    <div class="thumbs">
      {% for image in product.images %}
      {% if settings.enable_product_image_zoom %}
      <div class="image">
        <a href="{{ image | product_img_url: 'original' }}" class="cloud-zoom-gallery" rel="useZoom: 'placeholder', smallImage: '{{ image | product_img_url: 'original' }}', tint: '#ffffff'">
          <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
        </a>
      </div>
      {% else %}
      <div class="image">
        <a href="{{ image | product_img_url: 'original' }}" data-original-image="{{ image | product_img_url: 'original' }}">
          <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt | escape }}" />
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div><!-- .thumbs -->
    {% endif %}
  </div> <!-- .product_photos -->

</div><!-- .ten .columns .product_images -->

<div class="six columns product_info">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  
  <div id="product_details">
    
    <div class="product_title product_section">

      <h1>{{ product.title }}</h1>

    </div><!-- .product_title -->
    
    <div class="product_price product_section">

      {% if product.compare_at_price > product.price %}
        <h5 class="on-sale">{{ product.price | money }}</span>&nbsp;<span class="product-compare-price">{{ product.compare_at_price_max | money }}</h5>
      {% else %}
        <h5 >{{ product.price | money }}</h5>
      {% endif %}

    </div><!-- .product_price -->
      
    <h4 class="product_section">Details</h4>

    <div class="product_description product_section">

        {{ product.description }}

    </div><!-- .product_description -->

    <div class="product_variants{% if hide_default_title %}{% unless settings.show_qty and product.available %} hidden{% endunless %}{% endif %} product_section">

      <div{% if hide_default_title %} class="hidden"{% endif %}>
        
        {% if product.tags contains 'new' and product.tags contains 'frames' or product.tags contains 'bikes' %}
        <strong>Available Sizes</strong>
        <ul class="product_sizing">
          {% for variant in product.variants %}

            <li>{% if variant.inventory_quantity < 1 %}<span class="out_of_stock">{{ variant.title }}&nbsp; - out of stock&nbsp;</span>{% else %}{{ variant.title }}{% endif %}</li>

          {% endfor %}
        </ul><!-- .product_sizing -->
      {% endif %}

      </div><!-- .hidden -->

      {% if settings.show_qty %}
        {% include 'snippet-quantity' %}
      {% endif %}

    </div><!-- .product_variants -->

    <div class="product_add product_section">

      <div id="accordion">

        <span class="opener">Click Me!</span>

        <div class="accordion_guts">

          <dl>
          {% if product.tags contains 'bikes' or product.tags contains 'frames' %}

            <dt><strong>Why can't I purchase this {% if product.tags contains 'bikes' %}bike{% elsif product.tags contains 'frames' %}frame{% endif %} online?</strong></dt>
            <dd>At Sellwood, we don't want to just sell you a {% if product.tags contains 'bikes' %}bike{% elsif product.tags contains 'frames' %}frame{% endif %}. Instead of being able to click a button, we want to make sure that what you get from us is a good fit for your needs.</dd>
            {% if product.tags contains 'bikes' and 'new' %}
              <dd>Additionally. some of our dealer agreements prevent us from selling new bikes outside of the Portland area.</dd>
            {% endif %}

          {% elsif product.type == 'Components' or product.type == 'Accessories' or product.type == 'Apparel' %}
            <dt><strong>Why is this {% if product.type == 'Components' %}component {% elsif product.type == 'Accessories' %}accessory {% elsif product.type == 'Apparel' %}item {% endif %} not available for purchase online?</strong></dt>
            <dd>We only sell new or take-off items directly through our site. In this case, the item you're looking at is being sold on consignment. Contact us to arrange your purchase.</dd>

          {% endif %}
            <dt><strong>Contact Us</strong></dt>
            <dd>If you like what you see, give us a call at <br /><a href="tel:5032239392">(503) 223 - 9392</a> Tuesday - Saturday / 10am-6pm<br /> or <a href="mailto:shop@sellwoodcycle.com">email us</a> anytime and we'll arrange your purchase and shipping.</dd>

          </dl>

        </div><!-- .accordion_guts -->

      </div><!-- #accordion -->

    </div><!-- .product_add -->

    <div class="product_collection_type product_section">

      <div class="collections_list" style="display:none;">

        <ul>
          <li><span class="list_title">Tags:</span></li>
        {% for tag in product.tags %}
          <li>{{ tag | link_to_tag: tag }}</li>
        {% endfor %}
        </ul>

      </div><!-- .collections_list -->

      <div class="product_type" style="display:none;">

        <ul>
          <li><span class="list_title">Collections:</span></li>
          <li>{{ product.type | link_to_type }}</li>
        </ul>

      </div><!-- .product_type -->

      <div class="clear"></div>

    </div><!-- .product_collection_type -->

    <div class="product_share product_section">

      {% include 'snippet-product-share' %}

    </div><!-- .product_share -->

    {% if collection %}
      {% if collection.previous_product or collection.next_product %}

      <div class="accent_text prev_next">     

        {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <span class="left">{{ '&larr; Previous Product' | link_to: prev_url }}</span>
        {% endif %}

        {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <span class="right">{{ 'Next Product &rarr;' | link_to: next_url }}</span>
        {% endif %}

      </div><!-- .accent_text .prev_next -->

      {% endif %}
    {% endif %}
    
  </div><!-- .product_details -->

</div><!-- .six .columns .product_info -->

<div class="clear"></div>

</section>

{% include 'related-products' %}

<div class="clear"></div>

